.main {
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
  width: 600px;
  margin: 50px;
}

.request, .response, .metadata {
  background-color: rgb(255, 248, 239);
  padding: 50px;
  border: 2px solid rgb(66, 110, 0);
  border-radius: 10px;
}

.request > form {
  display: grid;
  grid-template-rows: 2fr auto 1fr;
  row-gap: 20px;
}

.params {
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
}

.param {
  display: grid;
  grid-auto-flow: row;
  row-gap: 2px;
}

input {
  height: 30px;
}

button {
  width: 130px;
  background-color: rgb(172, 133, 60);
  color: white;
  border: none;
  border-radius: 15px;
}

button:hover {
  cursor: pointer;
  color: rgb(172, 133, 60);
  background-color: white;
  border: 1px solid rgb(172, 133, 60);
}

.nasted-input{
  height: 30px;
  width: 230px;
}

.nasted-param {
  display: grid;
  grid-auto-flow: row;
  row-gap: 2px;
  margin-left: 40px;
}

.display{
  display: none;
}

hr{
  margin-top: 2rem;
}

.expandNastedPlus{
  cursor: pointer;
  font-size: 25px;
}
